/*Font Size Variables*/

$normalFont:13px;
$boldFont:12px;

/*Color Variables*/

$baseColor:#fff;
$primaryColor:#234f45;
$secoandryColor:#34df33;

/*Boarder size Variables*/

$leftBorder:1px solid;
$rightBoarder:2px solid;
$bottomBorder:2px solid;
$topBorder:2px solid; 