<ul class="dropdown-menu multi-column columns-3">
    <div class="row">
        <div class="col-sm-3 multi-gd-img">
            <ul class="multi-column-dropdown">
                <li><a href="#">Garam Masala</a></li>
                <li><a href="#">Chilli Powder</a></li>
                <li><a href="#">Haldi Powder</a></li>
            <li><a href="mens.html">Watches</a></li>
                <li><a href="mens.html">Accessories</a></li>
                <li><a href="mens.html">Bags</a></li>
                <li><a href="mens.html">Caps & Hats</a></li>
            </ul>
        </div>
        <div class="col-sm-3 multi-gd-img">
            <ul class="multi-column-dropdown">
                <li><a href="mens.html">Jewellery</a></li>
                <li><a href="mens.html">Sunglasses</a></li>
                <li><a href="mens.html">Perfumes</a></li>
                <li><a href="mens.html">Beauty</a></li>
                <li><a href="mens.html">Shirts</a></li>
                <li><a href="mens.html">Sunglasses</a></li>
                <li><a href="mens.html">Swimwear</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</ul>