<div class="footer" style="background-color: #0d0d0d">
    <div class="container">
        <div class="col-md-3 footer-left">
            <div class="sign-gd-two">
                <h4>
                    <p>Get in Touch</p>
                </h4>
                <ul>
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Address : <span>Berhampur City.</span></li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a href="mailto:info@example.com">info@odishabazar.co.in</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone : +91 9439 323 284</li>
                </ul>
            </div>
        </div>
        <div class="col-md-5 sign-gd-two">
            <h4>
                <p>PATA PUJA</p>
            </h4>

            <p style="font-size:13px;color:#fff;text-align:center;"> A 
                <b>Unit of Antarjatiya Odisha Swabhimana Prathitana
                </b>s
            </p>
            <br/>
            <p style="font-size:13px;color:#fff; text-align:center;"> 
                We have taken an initiative to provide our own odisha food items for the odias who stay out side of Odisha.
            </p>
            <br/>
            <!--<p>
                <ul>
                    <li style="display:inline;"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li style="display:inline;"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li style="display:inline;"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </p>-->
        </div>
        <div class="col-md-4 sign-gd-two">
            <h4>
                <p>PATA PUJA</p>
            </h4>

            <p style="font-size:13px;color:#fff;text-align:center;"> A 
                <b>Unit of Antarjatiya Odisha Swabhimana Prathitana</b>s
            </p>
            <br/>
            <p style="font-size:13px;color:#fff; text-align:center;">
                We have taken an initiative to provide our own odisha food items for the odias who stay out side of Odisha.
            </p>
        </div>
    <div class="clearfix"></div>
    </div>
    <p class="copy-right" style="background:#ff5c33;color:#fff;font-size:20px;color:#fff;">&copy 2016 PATA PUJA. All rights reserved | Designed by <a href="http://necteromni.com/" style="color:#000;"></a>
    </p>
</div>